.pc,#tpl_l,#tpl_r{
    margin-top: 128px; 
}
.pc img{
    width: 100%;
}
#tpl_c {
    width: 1000px;
    height: auto;
    margin: 15px auto;
}

#tpl_l {
    width: 210px;
    height: auto;
    float: left;
    min-height: 600px;
}

.hbsb{
	position: relative;
}
.hbsb p{
	position: absolute;
	top: 26px;
	left: 0;
	right: 0;
	height: 40px;
    font:20px/40px "Microsoft YaHei";
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.4);
}
#tpl_l ul {
    width: 210px;
    height: auto;
    border-right: 1px solid #CCC;
    border-left: 1px solid #e0e0e0;
}
#tpl_l ul li {
    width: 190px;
    height: 40px;
    line-height: 25px;
    text-align: center;
    margin: 0px auto;
    padding: 5px 0px;
}
#tpl_l ul li p{
    color: #000;
    background: url(../img/product/tpl_li_bg.png) no-repeat;
    width: 190px;
    height: 30px;
    display: block;
    font:12px "Microsoft YaHei";
}
#tpl_r {
    width: 760px;
    height: auto;
    float: right;
    margin-bottom: 30px; 
}
#tpl_r_t {
    width: 730px;
    height: 30px;
    border-bottom: 1px solid #CCC;
    line-height: 30px;
    margin: 0px auto;
    padding-left: 20px;
    margin-bottom: 1px;
}
#tpl_r_t span {
    float: right;
}
#tpl_r_t strong {
    font-size: 14px;
    font-family: "微软雅黑"!important;
}
#tpl_r_t span{
    font:12px/27px "Microsoft YaHei";
}

#tpl_r_t a {
    color: #000;
}

#tpl_r_c {
    width: 730px;
    height: auto;
    line-height: 180%;
    margin: 0px auto 0px auto;
}
.mg_gcal {
    width: 730px;
    height: auto;
    margin: 20px auto 0px;
}
.mg_gcal dl {
    border: 1px solid #dedede;
    float: left;
    border-radius: 0px 0px 5px 5px;
    margin: 13px;
}
.mg_gcal dl dt {
    width: 205px;
    height: 125px;
    padding: 5px;
}
.mg_gcal dl dt img {
    border-radius: 0px 0px 5px 5px;
}
.mg_gcal dl dd{
    text-align: center;
    margin-left: 0;
}
.mg_gcal dl dd a{
    color: #000;
    font:12px/27px "Microsoft YaHei";
}

.clear {
    clear: both;
    height: 0px;
    width: 100%;
    font-size: 1px;
    line-height: 0px;
    visibility: hidden;
    overflow: hidden;
}
.page{
    height: 30px;
    line-height: 30px;
    background: #F9F9F9;
    padding: 0 5px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
}
.page .page-lists li{
	display: inline-block;
}
.page .page-lists a{
	height: 20px;
	margin: 5px 0;
	padding: 0 5px;
	line-height: 20px;
	color: #666;
	border-radius: 10px;
}
.page .page-lists a:hover,.page .page-lists .go a{
	background-color: #72b831;
    color: #fff;
}
.page .page-lists .go input{
	width: 50px;
	margin: 0 10px;
	border: 1px solid #ccc;
	text-align: center;
}