#footer-box {
	position: relative;
	border-top: 1px solid #D1D7DC;
	background: #f5f5f5;
	min-width: 1000px;
	width: 100%;
	overflow: hidden;
}

.footer{
	width:1000px;
	height:30px;
	margin:0 auto;
	font-size: 12px;
	overflow: hidden;
	text-align: center;
	color: #939393;	
	background: #f2f2f2;
	font: 12px/20px "SimSun","宋体","Arial Narrow",HELVETICA;
	
}
.ft-list{
	overflow: hidden;
}	

.ft-list ul li{
	list-style: none;
	float:left;
	margin:0;
}