

#head-box{
	/*position:fixed;*/position:fixed;
	top:0;
	left:0;
	height: 200px;
	width: 100%;
	background: #f2f2f2;
	min-width: 1000px;
	overflow: hidden;
	z-index:10000;
}

.mini-top {
	width: auto;
	height: 30px;
	border-bottom: 1px solid #e5e5e5;
}
.mini-top-layout{
	width: 1000px;
	height: 30px;
	margin:0 auto;
}

.mini-top-left{
	height: 30px;
	width:200px;
	float:left;
	background:url("../../img/logo.jpg");
	background-size:contain;
	background-position:center;
}

.mini-top-right{
	height: 30px;
	float:right;
	line-height:30px;
	font-size: 14px;
	font-weight: bold;
}
#time{
	height: 30px;
	float:right;
	line-height:30px;
	font-size: 12px;
	margin-left:30px;
}


.header-top {
	height: 130px;
	width: auto;
	background: #fff;
}

.header-top-Layout{
	height: 130px;
	width: 1000px;
	margin:0 auto;
}
.header-top-Con{
	height: 130px;
	width: 1000px;
	margin:0 auto;
	background: #f5f5f5;
}

.header-menu {
	height: 40px;
	width: auto;
	background: #fff;
}

.header-menu-Layout{
	height: 40px;
	width: 1000px;
	margin:0 auto;
}
.header-menu-Con{
	height: 40px;
	width: 1000px;
	margin:0 auto;
	background: #f10f10f10;
}
.header-menu-Con ul li{
	position: relative;
	list-style: none; 
	width: 110px; /*宽度*/
	height: 30px; /*高度*/
	border-right: 2px solid #c0c0c0; 
	float: left; 
	margin: 5px 5px;
	overflow: hidden;
	line-height: 30px;
	text-align: center;
	border-radius: 2px;
}
.header-menu-Con ul li:hover{
	background-color: #80ffff;
}
.header-menu-Con ul li.nobot{
	border-right: 0px; 
}




