#mainPage {
	width: 100%;
	min-width: 1000px;
	height:100%;
	overflow-y:auto;
	float:left;
}
#showimg-box {
	margin-top:200px;
	width: 100%;
	height:450px;
}
.showimg-layout {
	position: relative; /*相对定位：参考物*/
	width: 1000px;
	height: 450px;
	background: #fff;
	margin: 0 auto;
}


.showimg-layout ul li {
	position: absolute;
	list-style: none;
	top: 100px;
	width: 240px;
	height: 250px;
	opacity: 0.4;
	z-index: 1;
}

.showimg-layout ul li img {
	width: 100%;
	height: 100%;
}

.showimg-layout ul li.first {
	left: -100px;
}

.showimg-layout ul li.center {
	width: 1000px;
	height: 450px;
	top: 0px;
	left: 0px;
	opacity: 1;
	z-index: 10;
}

.showimg-layout ul li.follow {
	left: 275px;
	opacity: 0;
}

.showimg-layout ul li.last {
	right: -100px;
}

.showimg-layout div.tbn div {
	position: absolute;
	width: 40px;
	height: 70px;
	top: 50%;
	z-index: 2;
}

.tbn div { /*跟上面的效果一样*/
	font-size: 50px;
	font-weight: bold;
	line-height: 70px;
	text-align: center;
	color: #fff;
	cursor: pointer;
}

.tbn div.left {
	left: -100px;
}

.tbn div.right {
	right: -100px;
}

.tbn div:hover {
	background: #666;
}

#content-box {
	width: 100%;
	min-width: 1000px;
	background-color: #fff;
	overflow: hidden;
}

.content-layout{
	position: relative;
	width: 1000px;
	margin: 0 auto;
	background-color: #f2f2f2;
	min-height:1500px;
}

.main-nav {
}

.main-category {
}

